<div class="profile-entire-page">
  <app-nav></app-nav>
  <div class="profile-container">
    <div class="user-info-container">
      <div class="profile-picture-container">
        <img [src]="imgUrl" alt="Profile Picture">
      </div>
      <div class="divider"></div>
      <div class="user-info">
        <h1>{{user.nome}}</h1>
        <p>E-mail: {{user.email}}</p>
        <p class="points">Pontos: {{user.pontos}} pts</p>
      </div>
    </div>

    <div class="user-history">
      <h2>Histórico de Atividades</h2>
      <div class="history-card-container">
        <app-history-card *ngFor="let task of history" [name]="task.nome" [text]="task.descricao"></app-history-card>
      </div>
    </div>
  </div>
</div>
