<div class="addTask-entire-page">
    <app-nav />
    <div class="addTask-container">
        <div class="addTask-title-container">
            <h1 class="addTask-title">Escolha uma Tarefa</h1>
        </div>
        <div class="addTask-cards-container">
            <div class="addTask-cards-box">
                <app-task-card [title]="task1.title" [text]="task1.text" />
                <app-task-card [title]="task2.title" [text]="task2.text" />
            </div>
            <app-reroll (onClick)="reroll()" />
        </div>
        <div class="addTask-button-container">
            <app-button text="Adicionar" />
        </div>
        
    </div>
</div>

