<div class="addTask-entire-page">
    <app-nav></app-nav>
    <div class="addTask-container">
        <div class="addTask-title-container">
            <h1 class="addTask-title">
                {{ pendingTask ? 'Concluir Tarefa' : taskAssigned ? 'Sua Tarefa' : 'Escolha uma Tarefa' }}
            </h1>
        </div>
        <div class="addTask-cards-container">
            <div class="addTask-cards-box">
                <!-- Exibe apenas a tarefa pendente ou a atribuída -->
                <app-task-card 
                    *ngIf="pendingTask && !taskAssigned"
                    [title]="pendingTask.task.name" 
                    [text]="pendingTask.task.description" 
                    [class.selected]="selectedTaskId === pendingTask.id" 
                    (click)="selectTask(pendingTask.id)">
                </app-task-card>
                
                <!-- Exibe duas tarefas aleatórias se não houver tarefa pendente -->
                <app-task-card 
                    *ngIf="!pendingTask && !taskAssigned"
                    [title]="task1.name" 
                    [text]="task1.description" 
                    [class.selected]="selectedTaskId === task1.id" 
                    (click)="selectTask(task1.id)">
                </app-task-card>
                
                <app-task-card 
                    *ngIf="!pendingTask && !taskAssigned"
                    [title]="task2.name" 
                    [text]="task2.description" 
                    [class.selected]="selectedTaskId === task2.id" 
                    (click)="selectTask(task2.id)">
                </app-task-card>

                <!-- Exibe a tarefa selecionada após atribuição -->
                <app-task-card 
                    *ngIf="taskAssigned"
                    [title]="pendingTask.task.name" 
                    [text]="pendingTask.task.description">
                </app-task-card>
            </div>
            <app-reroll *ngIf="!pendingTask && !taskAssigned" (click)="reroll()"></app-reroll>
        </div>
        <div class="addTask-button-container">
            <app-button 
                [text]="pendingTask ? 'Concluir' : 'Adicionar'" 
                (click)="pendingTask ? completeTask() : assignTask()">
            </app-button>
        </div>
    </div>
</div>
